body {
  background: black;
  font-family: $lato;
  font-size: 18px;
}

// App move from top to bottom on opening site
// didn't work nicely with  perfect-scrollbar
// #app {
//   animation: fadein ease-out 1.4s;
// }