@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

.BgImage{
  @include displayFixedAndCenter;
  width: 100%;
  height: 100%; //falback 
  height: vh(100); // 100% of device height

  z-index:-2;

  // works like background-image. works on every size !!!
  object-fit: cover;
}