.galleryCards{
  @include pageSettings();

  .title{
    padding-left: 7px;
    margin-top: 50px;
    margin-bottom: 8px;
    color: rgb(230, 230, 230);
    font-size: xx-large;

    &::first-letter{
      text-transform: uppercase;
    }
  
    @media only screen and (max-width: 575px) {
      margin-top: 55px;
    }
  }
  .cardContainer{
    padding: 2%;

    .Card{
      border-radius: $borderRadius;
      background: $BGwhite;
      transition: all .5s ease-in-out;
      display: inline-block;
      width: 100%;
  
      &:hover {
        transform: scale(1.01);
        transition: all .3s ease-in-out;
        cursor: pointer;
      }
  
      img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
      }

      .roundCorners{
        border-radius: $borderRadius;
      }
      
      div {
        display: flex;
        flex-wrap: wrap;
        margin-left: 6px;
        
        div{
          flex-wrap: wrap;
          background-color: rgb(204, 204, 204);
          border-radius: 5px;
          padding: 0 4px;
          margin: 5px;
          &:hover{
            cursor: pointer;
          }
          
          p {
            width: 100%;
            color: rgb(87, 87, 87);
            margin: 5px;

            font-weight: bold;
            font-family: $lato;
            font-size: 14px;
            text-align: center;
            &::first-letter{
              text-transform: uppercase;
            }
          }
        }
      }
      
  
      @media (max-width: 475px) {
        font-size: 0.7em;
      }
    }
  }
}


.linkStyle{
  text-decoration:none !important;
}