.movieSearchBar {
  position: absolute;
  z-index: 1;

  // center positioning
  width: 100%;
  margin: 20px auto;
  padding: 0 7%;

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
}

.movieSearchBarInput {
  color: $lightGrey;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 100%; 
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px white;

  &:focus{
    outline-width: 0;
  }
}


//==========================
@include media-breakpoint-up(sm) {
  .searchbox {
    margin-top: 12px; //important
  }
}

@media only screen and (max-width: 575px) {
  .searchInside{
    padding: 0 4px!important ;
  }
}