.searchbar_ul {
  color: $lightGrey;
  background-color: $transparentBackground;
  list-style-type: none;
  padding: 0;
  border-radius: 0px 0px 5px 5px;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.searchbar_li {
  padding: 3px 20px;
  
  p {
    margin: 5px 0; // suggestion list spacing
    align-self: center;
    font-size: 1.4rem;
  }

  &:hover, &.active, &:focus {
    cursor: pointer;
    color: $darkGrey;
    background-color: $limeGreen;
    border-radius: 5px;

    span{
      color: $darkGrey !important;
    }
  }
}

.quickSearchImage{
  max-width: 92px;
}

.noResult{
  height: 2rem; 
  margin-top: 0.3rem;

  &:hover{
    user-select: none;
  }
}