.searchbar_ul {
  color: $darkGrey;
  background-color: white;
  list-style-type: none;
  margin-top: 5px;
  border-radius: 4px;
  padding: 0;
  
  // important show hide suggestion so it is unclickable
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out, height 0s linear 0.3s;
  height: 0px;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.3s ease-in-out;
  height: 100%;
}

@mixin searchbar_basic_li {
  padding: 3px 20px;
  
  p {
    font-size: 17px;
    margin: 4px 0;
    align-self: center;
  }
}

.searchbar_li {
  @include searchbar_basic_li;

  &:hover, &.active, &:focus {
    cursor: pointer;
    background-color: $midGrey;
    border-radius: 5px;
  }
}

.noResult{
  @include searchbar_basic_li;
  user-select: none;
}