.startPage {
  @include pageSettings();

  .container {
    @include containerSettings;
    color: $white;

    h1 {
      margin-top: 20px;
      font-size:35px;
      font-weight: bold;
      padding: 0;
    }
  
    p{
      padding: 0;
      a{
        color: inherit;
      }
    }
  }
}