@mixin pageSettings() {
  position: absolute;

  // center positioning
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

@mixin containerSettings() {
  // centers content
  margin: 0 auto;
  max-width: 1400px;
}

@mixin displayFixedAndCenter {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin searchBarMixin($searchBarHeight, $borderRadius, $mobileBorderRadius) {
  display: inline-flex;

  color: black;
  background-color: $lightGrey;
  width: 100%;
  height: $searchBarHeight;
  border-radius: $borderRadius;
  border: 1px solid rgb(190, 190, 190);
  
  @media only screen and (max-width: 575px) {
    border-radius: $mobileBorderRadius;
  }

  div{
    $lupeWidth: 45px;
    width: $lupeWidth;
    min-width: $lupeWidth;
    padding: 0 $lupeWidth/4;
    &:hover{
      cursor: pointer;
    }
    img {
      height: 100%; // centers vertically
      width: 100%;
    }
  }

  form {
    flex-grow: 1;
    
    input {
      background-color: $lightGrey;
      width: 98%;
      height: $searchBarHeight - 2px;
      border: none;
      &:focus {
        outline-width: 0;
      }
    }
  }
}