// colours
$white: rgb(240, 240, 240);
$lightGrey: rgb(215, 215, 215);
$midGrey: #ccc;
$darkGrey: #343434;

// typography
$lato: 'Lato', sans-serif;
// $oswald: 'Oswald', sans-serif;
// $Ionicons:'Ionicons';