// colours
$white: rgb(240, 240, 240);
$lightGrey: #fafafa;
$midGrey: #ccc;
$darkGrey: #343434;
$limeGreen: #00FC87;
$transparentBackground: rgba(7, 7, 7, 0.95);

// typography
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$Ionicons:'Ionicons';