// colours
$white: rgb(240, 240, 240);
$BGwhite: rgb(230, 230, 230);
$lightGrey: rgb(235, 235, 235);
$midGrey: #ccc;
$midGreyText: rgb(146, 146, 146);
$darkGrey: #343434;

$borderRadius: 15px;

// typography
$lato: 'Lato', sans-serif;